/*----------------------------------HEADER OG FOOTER Wuhuuu------------------------------------------------------*/

/*ol,
ul {
  list-style: none;
}*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 2px;
  border-bottom-color: #426174;
  padding-bottom: 1%;
}

.logo {
  margin-left: 2%;
  width: 15%;
}

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  margin: 0;
}

.nav {
  margin-right: 15%;
  display: block;
}

main {
  background-color: #ffffff;
}

/*hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #426174, rgba(0, 0, 0, 0));
}*/

#nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-self: center;
}

li {
  /*margin-left: 5vw;*/
  padding-left: 2vw;
  padding-right: 2vw;
  border-left: solid 2px;
  border-color: #426174;
}

#nav_menu a {
  display: block;
  padding: 7px;
  text-decoration: none;

  color: #262626;
  text-align: center;
}

#nav_menu a:hover {
  background-color: #f2efeb;
  color: #f26430;
}

.footer {
  display: flex;
  margin-top: 150px;
  max-width: 100%;
  padding: 30px 15px;
  color: #262626;
  background-color: #f2efeb;
}

.footer div {
  text-align: center;
}

/*.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
  }*/

.col-2 {
  flex-grow: 2;
}

.col-2 p {
  margin-top: 10%;
}

.col-3 {
  margin-top: 4%;
}

/*-----------------------------------------------------------LAYOUT/DESIGN jaaaay---------------------------------------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

p,
h1,
h2,
h3,
nav {
  font-family: "Roboto";
}

q {
  font-family: "Lato";
}

.copyright_farve {
  color: #b0b0b0;
}

.body {
  background-color: #ffffff;
}

.textbox {
  background-color: #e5e2de;
  max-width: 65ch;
  border-radius: 10px;
  padding: 3%;
  line-height: 1.5;
}
.titelbox {
  background-color: #e5e2de;
  border-radius: 10px;
  padding: 2%;
}
