/*----------------------------------HEADER OG FOOTER Wuhuuu------------------------------------------------------*/

.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  background-color: #ffffff;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 2px;
  border-bottom-color: #426174;
  padding-bottom: 1%;
}

.logo {
  margin-left: 2%;
  width: 15%;
}

.nav {
  margin-right: 15%;
  display: block;
}

#nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-self: center;
}

#nav_menu a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: #262626;
  text-align: center;
}

li {
  /*margin-left: 5vw;*/
  padding-left: 2vw;
  padding-right: 2vw;
  border-left: solid 2px;
  border-color: #426174;
}

#lastpoint {
  border-right: solid 2px;
  border-color: #426174;
}

#nav_menu a:hover {
  background-color: #f2efeb;
  color: #f26430;
  cursor: pointer;
}

/*hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #426174, rgba(0, 0, 0, 0));
}*/

.footer {
  display: flex;
  /* max-width: 100%; */
  color: #262626;
  background-color: #f2efeb;
  padding-left: 1%;
}

/* .footer div {
  text-align: center;
} */

/*.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
  }*/

.col-2 {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.col-2 p {
  /* display: flex; */
  /* align-items: center; */
  /* margin-top: 10%; */
  margin-left: 30%;
}

.col-3 {
  margin-top: 3%;
}

.in_footer{
width: 75%;
}

/*-----------------------------------------------------------LAYOUT/DESIGN jaaaay---------------------------------------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
p {
  max-width: 65ch;
}
p,
h1,
h2,
h3,
nav {
  font-family: "Roboto";
}

q {
  font-family: "Lato";
}

.copyright_farve {
  color: #b0b0b0;
}

.body {
  background-color: #ffffff;
}

.textbox {
  background-color: #e5e2de;
  border-radius: 10px;
  padding: 3%;
  line-height: 1.5;
}
.titelbox {
  background-color: #e5e2de;
  border-radius: 10px;
  padding: 2%;
}

.bluesection {
  display: grid;
  margin: 0;
  width: 100%;
  background-color: #426174;
  margin: 0;
}



/*-----------------------------------------------------------MOBILEVIEW yeehaw---------------------------------------*/
@media (max-width: 600px){
  .body{
    max-width: 100vw;
  }
  
  header{
    justify-content: flex-start;
  }

  .logo {
    margin-left: 2%;
    width: 13%;
  }
  .nav{
    margin-right: 0;
  }
  #nav_menu{
    padding-left: 10%;
  }
  nav a{
    font-size: small;
  }
  

  footer{
    max-width: 100vw;
  }

  .col-1 p{
    font-size: small;
  }
  .col-2 p{
    font-size: x-small;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
  }
  .in_footer{
    width: 50%;
    margin-left: 20%;
    margin-top: 20%;
  }
}