#index_grid {
  /* grid-column: 1/5; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr 4fr;*/
  padding-bottom: 3%;
  margin-left: 2%;
  margin-left: 2%;
}

#index_billede {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
  width: 81%;
}
#index_p {
  grid-column: 2/3;
  /* justify-self: center; */
}
h1 {
  grid-column: 2/3;
  margin-top: 0;
  width: 55%;
}

main {
  margin-top: 4%;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}
section {
  display: grid;
  place-content: center;
  /* justify-content: center; */
  /* align-items: center; */
}
#index_citat {
  padding-top: 7%;
  padding-bottom: 7%;
  color: #f2efeb;
  font-size: 125%;
}

/*-----------------------------------------------------------MOBILEVIEW yeehaw---------------------------------------*/
@media (max-width: 800px) {
  #index_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    padding-bottom: 0%;
    justify-items: center;
    align-items: center;
  }
  #index_billede {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    max-width: 100vw;
  }
  #index_p {
    grid-column: 1/2;
    grid-row: 3/4;
    /* justify-self: center; */
    max-width: 100vw;
  }
  h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
    width: 75%;
    font-size: 25px;
  }
  #index_citat {
    justify-items: center;
  }
  q {
    max-width: 90%;
  }
}
