/*ol,
ul {
  list-style: none;
}*/
.body_kontakt {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#first {
  grid-column: 1/2;
  margin-top: 10%;
  margin-left: 50%;
  margin-bottom: 10%;
}

#second {
  grid-column: 2/3;
  margin-top: 10%;
  margin-bottom: 10%;
}

#second img {
  width: 60%;
  left: 0%;
}

#in {
  width: 80%;
  height: auto;
  grid-row: 2;
  margin-left: 25%;
}

#p_in {
  grid-row: 2;
  margin-top: 2%;
}

.linkedin{
  max-width: 90%;
}

/* #linkedin {
  border-style: solid;
  background-color: rgba(78, 99, 99, 0.178);
  margin-right: 16%;
} */

h2 {
  margin: 0;
}

/* #indhold {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 5%;
  margin-right: 15%;
  margin-bottom: 5%;
} */
