/*ol,
ul {
  list-style: none;
}*/

#body_kontakt {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#nav_menu {
  margin: 1%;
  margin-left: 50%;
  width: 900px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#nav_menu li {
  display: block;
  width: 115px;
  float: left;
  margin-left: 20px;
}

#nav_menu a {
  display: block;
  padding: 7px;
  text-decoration: none;
  background-color: #f2efeb;
  color: #262626;
  text-align: center;
}

#nav_menu a:hover {
  background-color: #e5e2de;
  color: #f26430;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#first {
  grid-column: 1;
  margin-top: 10%;
  margin-left: 50%;
}

#second {
  grid-column: 2;
  margin-top: 10%;
}

img {
  width: 50%;
  left: 0%;
}

#in {
  width: 120%;
  height: auto;
  grid-row: 2;
  margin-top: -10;
  margin-left: 0;
}

#p_in {
  grid-row: 2;
  margin-top: 2%;
}

#linkedin {
  border-style: solid;
  background-color: rgba(78, 99, 99, 0.178);
  margin-right: 16%;
}

h2 {
  margin: 0;
}

#indhold {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  margin: 5%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.footer {
  display: flex;
  margin-top: 150px;
  width: 100%;
  padding: 30px 15px;
  background: #f8f6f4;
  color: #262626;
}

.footer div {
  text-align: center;
}

/*.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
}*/

.col-2 {
  flex-grow: 2;
}

.col-2 p {
  margin-top: 10%;
}

.col-3 {
  margin-top: 4%;
}
