/*Jeg har udkommenteret denne, da jeg har lavet en class="body" i generel.css, så alle headere ser ens ud :) _Julie
/*body {
  background-color: #f2efeb;
  margin: 0;
  padding: 0;
}*/

main {
  position: relative;
  display: grid;
  justify-items: center;
  background-color: #f2efeb;
  margin-top: 2%;
}
h2 {
  margin-top: 0;
}

section {
  margin: 1em;
}

video {
  max-width: 100%;
}

.grid-1_1 {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  /* justify-content: center; */
  /* align-items: center; */
}
.grid-3_2 {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 3fr 2fr;
  gap: 1em;
}
.grid-3_2 img {
  background-size: cover;
}
.grid-1_1 img {
  background-image: cover;
  /* justify-self: right; */
}

#video_section {
  min-width: 100%;
  background-color: #426174;
  margin: 0;
  display: grid;
  /* justify-content: center; */
}

#video_container {
  aspect-ratio: 16/9;
  justify-self: center;
  /* width: 100%; */
  width: 900px;
  border: 1px rgb(255, 255, 255) solid;
  /* line-height: 0; */
  /* margin: auto; */
  margin-top: 3em;
}

#video_file {
  max-width: 100%;
  width: 900px;
  aspect-ratio: 16/9;
}

#controls {
  grid-column: 1;
  display: flex;
  margin-top: 1em;
  gap: 1em;
  justify-content: space-evenly;
}

#play,
#stop,
#slowdown,
#speedup {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(225, 220, 231);
  width: 6%;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
}

#play {
  background-image: url("../img/play.svg");
}
#stop {
  background-image: url("../img/stop.svg");
}
#slowdown {
  background-image: url("../img/slower.svg");
}
#speedup {
  background-image: url("../img/faster.svg");
}
