/*Jeg har udkommenteret denne, da jeg har lavet en class="body" i generel.css, så alle headere ser ens ud :) _Julie
/*body {
  background-color: #f2efeb;
  margin: 0;
  padding: 0;
}*/

#foto1 {
  width: 90%;
  margin-left: 4%;
  margin-top: 1%;
}

#foto2 {
  width: 95%;
}

main {
  /*position: relative;*/
  display: grid;
  /*justify-items: center;*/
  /* background-color: #f2efeb; */
  margin-top: 2%;
  /* margin-left: 5%;
  margin-right: 5%; */
}
h2 {
  margin-top: 0;
}

section {
  margin: 1em;
}

video {
  max-width: 100%;
}

.grid-1_1 {
  display: grid;
  /*max-width: 1000px;*/
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 4%;
  margin-left: 6%;
  margin-right: 6%;
}
.grid-3_2 {
  display: grid;
  /*max-width: 1000px;*/
  grid-template-columns: 3fr 2fr;
  margin-right: 4%;
  /*gap: 1em;*/
  margin-left: 6%;
  margin-right: 6%;
}
.grid-3_2 img {
  background-size: cover;
}
.grid-1_1 img {
  background-image: cover;
  /* justify-self: right; */
}

#video_section {
  min-width: 100%;
  background-color: #426174;
  margin: 0;
  display: grid;
  padding-bottom: 2%;
  /* justify-content: center; */
}

#video_container {
  aspect-ratio: 16/9;
  justify-self: center;
  /* width: 100%; */
  width: 900px;
  border: 1px rgb(255, 255, 255) solid;
  /* line-height: 0; */
  /* margin: auto; */
  margin-top: 3em;
}

#video_file {
  max-width: 100%;
  width: 900px;
  aspect-ratio: 16/9;
}

#controls {
  grid-column: 1;
  display: flex;
  margin-top: 1em;
  justify-content: space-evenly;
}

#play,
#stop {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e5e2de;
  width: 6%;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
}

#play {
  background-image: url("../img/play.svg");
}
#stop {
  background-image: url("../img/stop.svg");
}
