#hvorfor {
  margin-left: 11%;
  margin-right: 8%;
}

#hvorfor p {
  letter-spacing: 0.4px;
  font-size: 110%;
  margin-top: 6%;
  line-height: 25px;
}

#kat {
  width: 80%;
  height: auto;
  display: block;
  margin-left: 3%;
}

#second {
  border-style: solid;
  margin-left: 6.5%;
  margin-right: 45%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#pris {
  margin-left: 6%;
  font-size: 135%;
  font-weight: 500;
}

#tjek_div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 5%;
  grid-template-columns: 8fr 1fr;
  margin-bottom: 0;
}

#tjek {
  margin-top: 6%;
  margin-left: 14%;
}

#tjek p {
  /* letter-spacing: 0.4px; */
  font-size: 110%;
  line-height: 25px;
}

.tjek_tegn {
  /* margin-top: 12%; */
  /* margin-left: 16%; */
  width: 50%;
  display: grid;
  justify-items: top;
  /* padding-bottom: 56%; */
  /* height: auto; */
}

#review {
  color: #e5e2de;
  margin-top: 4%;
  margin-left: 10%;
  background-color: #446174;
  border-radius: 10px;
  padding: 2%;
}

#review q {
  letter-spacing: 0.5px;
  font-size: 110%;
  margin-top: 4%;
  line-height: 25px;
  margin-right: 12%;
}

#quote1 {
  margin-top: 8%;
  margin-bottom: 10%;
}

#p1,
#tjek1 {
  grid-row: 1;
}

#p2,
#tjek2 {
  grid-row: 2;
}

#p3,
#tjek3 {
  grid-row: 3;
}

#p4,
#tjek4 {
  grid-row: 4;
}

#p5,
#tjek5 {
  grid-row: 5;
}

#p6,
#tjek6 {
  grid-row: 6;
}

#p7,
#tjek7 {
  grid-row: 7;
}

#p8,
#tjek8 {
  grid-row: 8;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
  margin-bottom: 0;
  margin-top: 0;
}
.overskrift {
  font-size: 170%;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 5%;
}

#first {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#third {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
